.extensionChecklist {
    list-style: none;
  }
  
.incomplete:before {
    color: red;
    font-weight: bold;
    content: '🗴';
    padding-right: 10px;
    margin-top: 10px;
    font-size: 15px;
}

.complete:before {
    color: green;
    font-weight: bold;
    content: '✓';
    padding-right: 10px;
    margin-top: 10px;
    font-size: 15px;
}